.App {
  text-align: center;
  background-color: rgb(248, 247, 247);
}
.box{
  margin-top: 5%;
  width: 40%;
  margin-left: 30% ;
  color: aliceblue;
}
Table{
  margin-top: 7%;

}
.wi{
  width: 60px;
}
.title{
  text-align: center;
}
